body{
    margin: 0;
}

.center-content{
    width: 800px;
    margin: 0px auto;
}
.container-1{
    height: 600px;
    background-color: #4B6587;/*bg img */
    background-image: url("images/nvss.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  
}



#container-1-content{
    padding-top: 20px;
}
.nav{
    color: white;
}
#container-1-content li{
    margin-left: 20px;
    font-weight: bold;
} 
#container-1-content .nav-link:hover{
    color: yellow;
}
#container-1-content .navbar{
    padding-left: 0px;
}
#container-1-content h1{
    color: white;
    font-weight: bold;
    margin-top: 5rem;
}
#container-1-content p{
    color: white;
    font-size: 1.2rem;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}
.cont1-btn{
    display: inline-block;
    height: 40px;
    width: 100px;
    padding-top: 5px;
    margin-right: 10px;
    border-radius: 10%;
    font-weight: bold;
    color: white;
    text-align: center;
    align-content: center;
    background-color: purple;
}
.cont1-btn:hover{
    background-color: yellow;
    color: black;
}
.container-2{
    height: 870px;
}
#container-2-content h1{
    text-align: center;
    margin: 3rem;
}
#container-2-content p{
    display: inline-block;
    color: grey;
    font-size: 1.8rem;
}
#container-2-content img{
    float: right;
    width: 220px;
}
.cont2-div1{
    height: 300px;
    width: 400px;
}
.umberlla-container{
    margin: 1.2rem;
}
.cardlike{
    display: inline-block;
    width: 200px;
    height: 400px;
    margin: 31px;
    text-align: center;
}


.cardlike span{
    color: grey;
}

.ft-aw{
    font-size: 3rem;
    background-color: indigo;
    border-radius: 100%;
    padding: 15px;
    color: white;
    font-weight: initial;
    margin-bottom: 1.5rem;
}
.cardlike h4{
    margin-bottom: 1.5rem;
}
.cardlike .cont1-btn{
    margin-top: 1.5rem;
}

#container-3 h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
#container-3{
    height: 650px;
    width: 100%;
}

hr{
    width: 800px;
    margin: auto;
}

#container-3 .card{
    padding: 0px;
}

#container-3 .card:hover{
    background-color: #FFBF00;
}

#container-3 h1{
    margin-top: 30px;
    margin-bottom: 30px;
}

#container-3 p{
    margin-top: 30px;
    margin-bottom: 30px;
}

#container-3 p{
    color: grey;
}

#container-3 .btn{
    background-color: white;
    color: black;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container-3 .btn:hover{
    background-color: indigo;
    color: white;
}


.container-4 h1,h4{
    text-align: center;
    font-weight: bold;
}

.container-4 span{
    font-weight: bold;
}

.container-4 h4{
    font-weight: bold;
}

.container-4 ul{
    margin-top: 20px;
    font-weight: bold;
    padding-left: 0px;
}

.container-5{
    background-color:#FFBF00;
    height: 500px;
}

.container-5 #vsrc{
    position: absolute;
    height: 30%;
    width: 30%;
    top: 2900px;
    left: 35%;
}

.ione{
    margin-top: 330px;
    margin-bottom: 100px;
    margin-left: 200px;
    font-size: 5rem;
    float: left;
    z-index: 2;
}

.itwo{
    margin-top: 330px;
    margin-right: 200px;
    margin-bottom: 100px;
    font-size: 5rem;
    float: right;
}

.container-5 #lvsrc{
    position: absolute;
    height: 30%;
    width: 30%;
    top: 2900px;
    left: 30px;
}

.container-5 #rvsrc{
    position: absolute;
    height: 30%;
    width: 30%;
    top: 2900px;
    right: 30px;
}

.container-5 h1{
    text-align: center;
    color: black;
    padding-top: 20px;
    
}

.container-6{
    text-align: center;
    margin-top: 30px;
}

.container-6 img{
    height: 160px;
    width: 150px;
    border-radius: 70%;
}
.container-6 .single-team{
    height: 150px;
    width: 150px;
    position: relative;
}
.container-6 .img-content{
    top: 70px;
    left: 90px;
    position: absolute;
    display: none;
}
.container-6 i{
    font-size: 20px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.container-6 .single-team:hover{
    opacity: 0.7;
}

.container-6 h4{
    font-size: 90%;
    margin-top: 25px;
    font-weight: bold;
}

.container-6 h5{
    color: grey;
    font-size: 90%;
}

.container-6 i:hover{
    color: black;
}

.container-7{
    height: 550px;
    background-color:aliceblue;
}

.container-7 h1{
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.img-viewport img{
    margin-top: 50px;
    margin-left: 38%;
    height: 300px;
    width: 24%;
    
}

.thumbnailbar img{
    height: 50px;
    width: 75px;
}

.thumbnailbar{
    margin-top: 15px;
    margin-left: 35%;
}

.thumbnailbar i{
    font-size: 30px;
}

.thumbnailbar i:hover{
    color: purple;
}


.sign-up-btn{
    padding: 14px  0px 15px 0px;
    width: 120px;
    top: 131px;
    position: absolute;
    background-color: #FFBF00;
    display: inline-block;
    text-align: center;
    color: black;
}

.sign-up-btn:hover{
    background-color: #ffd452;
}

#signup2:hover{
    background-color: #3c0a5c;
}

#signup2{
    color: white;
    top: 220px;
    left: 800px;
    background-color: #6A1B9A;
}